<?xml version="1.0" encoding="UTF-8"?>

<Configuration packages="io.sentry.log4j2">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %-5level - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bright, INFO=black, DEBUG=cyan, TRACE=blue}"/>
        </Console>
        <Sentry name="Sentry"
                minimumBreadcrumbLevel="DEBUG"
                minimumEventLevel="WARN"
        />
        <RollingRandomAccessFile name="RF" fileName="logs/extractor.log"
                                 filePattern="logs/archive/extractor-%d{yyyyMMdd-HHmmss}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy minSize="2 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs/archive" maxDepth="1">
                    <IfAccumulatedFileCount exceeds="10"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="connector_RF" fileName="logs/connector.log"
                                 filePattern="logs/archive/connector-%d{yyyyMMdd-HHmmss}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy minSize="2 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs/archive" maxDepth="1">
                    <IfAccumulatedFileCount exceeds="10"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <logger name="info.coverified.graphql.Connector$" level="trace">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="connector_RF" level="trace"/>
        </logger>
        <asyncRoot level="trace">
            <AppenderRef ref="Sentry"/>
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="RF" level="debug"/>
        </asyncRoot>
    </Loggers>
</Configuration>
